
    <div class="demo-layout mdl-layout mdl-js-layout">
    <header class="mdl-layout__header">
          <app-header></app-header>   
    </header>
    <div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50 "> 
      <app-drawer [username]="username" ></app-drawer>
      <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" routerLink="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</a>
          <a class="mdl-navigation__link" routerLink="/task"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Account</a>
          <a class="mdl-navigation__link" routerLink="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>Trash</a>
          <a class="mdl-navigation__link" routerLink="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Spam</a>
          <a class="mdl-navigation__link" routerLink="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Forums</a>
          <a class="mdl-navigation__link" routerLink="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>Updates</a>
          <a class="mdl-navigation__link" routerLink="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Promos</a>
          <a class="mdl-navigation__link" routerLink="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">shopping_cart</i>Purchases</a>
          <a class="mdl-navigation__link" routerLink="/"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Social</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100 demo-main ">
    <!--  <app-card></app-card>-->
        <div class="demo-container ">
        <div><router-outlet></router-outlet></div>
        <footer class = 'demo-footer'>
            <app-footer></app-footer>
          </footer>
        </div>
      </main>
  </div>
 
