<div class="mdl-grid demo-content">
    <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

            <div class="mdl-cell mdl-cell--1-col "></div>
            <div class="demo-content mdl-color--white content mdl-color-text--grey-800 mdl-cell mdl-cell--10-col">
              <div class="demo-crumbs mdl-color-text--grey-500">
                Warehouse Account&gt; Read More &gt; Облік виробничих запасів на складі
              </div>
              <h3>Облік виробничих запасів на складі</h3>
                <p>
                    Облік виробничих запасів є однією із трудомістких ділянок облікової роботи на підприємстві.
                </p>
                <h4>Суть складського обміну виробничих запасів</h4>
                <p>
                    Складський облік виробничих запасів – це сортовий, кількісний, оперативно-технічний облік.  Облік виробничих запасів – це сортовий, кількісний, оперативно-технічний облік. Здійснюється облік запасів на складі за допомогою карток за типовою формою №М-12. Картки складського обліку виробничих запасів відкриваються в бухгалтерії і видаються під розписку у Реєстрі, де вказуються дата видачі, кількість карток, їх реєстраційні номери і підпис одержувача. Записи в картках (у кількісному виразі) ведуть матеріально відповідальні особи (завідуючі складами, комірники) на підставі первинних документів, що підтверджують рух запасів і складаються у день здійснення операцій.  
                </p>
                <p>
                    Сортовий облік запасів на складах (“лісоматеріали”, “фарба” тощо) можна вести також і в книгах.
                </p>
                <p>
                    Складський облік запасів є важливим фактором контролю за зберіганням виробничих запасів підприємства. Організують складський облік за видами об'єктів, що зберігаються, за місцями зберігання, за кількістю матеріальних цінностей. За необхідності складський облік організують за партіями надходження виробничих запасів.<b> Кожному виду матеріальних цінностей (запасів) присвоюється номенклатурний номер, що дублюється у всіх первинних документах. Перші три цифри номенклатурного номера означають номер рахунка і субрахунка, наступні дві – номер групи, а інші – порядковий номер матеріальних цінностей у групі.</b> За цими номерами організують і бухгалтерський облік матеріальних цінностей, що дає змогу провадити кількісне звірення даних оперативного складського й аналітичного бухгалтерського обліків.
                </p>
                <p>
                    Завідуючий складом (комірник) щоденно записує до складської картотеки (чи книги) всі операції надходження і витрат матеріалів, нумеруючи свої записи по порядку з початку року чи кварталу.
                </p>
                <p>
                <b>Після кожного запису визначається залишок запасів даного номенклатурного номера.</b>
                </p>
                <p>
                  <b> Записи в регістрах сортового обліку з лімітних карток потрібно робити після кожної операції, занесеної в картку.</b> Якщо кількість лімітних карток невелика, то можна записувати у сортових картках загальні підсумки за тиждень, декаду або місяць. При цьому самі картки слід зберігати разом із відповідними картками складського обліку. Підрахований залишок після кожної реєстрації первинного документа зіставляється з нормою запасу. Це дає можливість одержати важливу інформацію про стан виробничих запасів та замовляти необхідні матеріальні ресурси. Завідуючий складом має сигналізувати відділові постачання про випадки порушення норм запасів, а також про наявність матеріалів, що тривалий час лежать без руху.
                </p>
                <p>
                    Якщо складський облік ведуть на електронно-обчислювальних машинах (ЕОМ), то машина сама зіставляє одержаний залишок (після кожної реєстрації даних того чи іншого первинного документа) з нормою запасу і може готувати документацію для наступного замовлення матеріальних ресурсів.
                </p>
                <p>
                   <b> Суть аналітичного бухгалтерського обліку виробничих запасів</b> полягає в тому, що на кожний вид матеріальних цінностей (за номенклатурними номерами) відкривається аналітичний рахунок, в якому об'єкти обліку відображаються за їх кількістю (за прийнятими одиницями виміру) і сумою вартості (за прийнятою системою оцінки).
                </p>
                <p>
                  <b>
                    Аналітичні рахунки</b> групуються за групами матеріалів, місцями зберігання, матеріально відповідальними особами, за синтетичними рахунками бухгалтерського обліку і субрахунками. Відповідно до прийнятих на підприємстві групувань матеріальних цінностей дані за аналітичними рахунками узагальнюються в оборотних відомостях. Використовують аналітичний бухгалтерський облік на рахунку для контролю зберігання і руху матеріальних цінностей, їх оцінки, звірки з даними складського обліку, а також для підбиття підсумків інвентаризації.
                </p>
                <p>
                  <b>
                      У разі організації на підприємстві номенклатурно-кількісного оперативно-складського й аналітичного бухгалтерських обліків </b>вони (в номенклатурно-кількісному відношенні) дублюватимуть один одного, але за умов використання ЕОМ такого дублювання можна уникнути, якщо організувати оцінку виробничих запасів, враховану в оперативному складському обліку. При ручній реєстрації даних у складському обліку, використовуючи тверді облікові ціни, можна уникнути паралельного ведення бухгалтерського обліку. За твердими обліковими цінами ведуть вартісний аналітичний облік руху матеріальних цінностей за групами матеріалів, місцями зберігання, матеріально відповідальними особами, рахунками і субрахунками.
                  
                </p>
                <p>
                    Для звірки даних складського й аналітичного обліків потрібно здійснювати періодичну оцінку за обліковими цінами кількісних залишків за даними складського обліку на визначену дату і зіставляти одержані загальні суми з сумою залишку за обліковими цінами вартісного аналітичного обліку. Такий метод організації обліку називається сальдовим або оперативно-бухгалтерським.
                </p>
                <p>
                  <b>
                      На основі типової форми №М-21 “Інвентаризаційний опис”, яка містить інформацію про фактичні дані наявності запасів, складають типову форму №М-14 Відомість обліку залишків матеріалів.
                  </b>
                </p>
                <p>
                    У відомості показується рух матеріальних цінностей на складі за день; проставляється найменування і номенклатурний номер матеріалу, найменування одиниці виміру (кг, шт. тощо), ціна і норма запасу і щоденно виводиться залишок (кількість і сума) на наступний день.
                </p>

            </div>
          </div>
</div>
