<div class="mdl-grid demo-content">
<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
<!--<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
  <tr>
  <td class="mdl-data-table__cell--non-numeric" *ngFor="let n of tas">
 {{ n.title }}</td> </tr>
 <tr>
 <td class="mdl-data-table__cell--non-numeric" *ngFor="let s of status">
    <p *ngIf="s.title == 'Выполнено'">
   Поздравляем с выполнением задачи
      </p>
      <p *ngIf="s.title != 'Выполнено'">
          Задача не выполнена
      </p>
</td>
    </tr>
    </thead>
</table>-->

<div class="demo-separator mdl-cell--1-col"></div>
<div class="demo-options mdl-card mdl-color--deep-purple-500 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
  <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
    <h3>View options</h3>
    <ul>
      <li>
        <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" id="chkbox1" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Show 
              Card Stock Records Mateurs</span>
        </label>
      </li>
      <li>
        <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" id="chkbox2" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Inventory Description</span>
        </label>
      </li>
      <li>
        <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
          <input type="checkbox" id="chkbox3" class="mdl-checkbox__input">
          <span class="mdl-checkbox__label">Both</span>
        </label>
      </li>
    </ul>
 
</div>
</div>
</div>
</div>